# Eclipse IDE stuff
bin
.classpath
.project
module-info.java

# IntelliJ IDEA stuff
.idea
TCD-Algos-2021.iml

# VS Code stuff
.vscode

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
